<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">ユーザー登録</h2>

        <%# 「モデル名」にはUserモデルであれば@userを渡しましょう。%>
        <%# 「新規登録機能へのパス」は、devise導入後にrails routesを実行してdevise/registrations#createへのパスを確認し、記載してください。 %>
        <%= form_with model: @user, url: user_registration_path, local: true do |f| %>

        <div class="field">
          <%= f.label :nickname, "ニックネーム", class: :label__text %><br/>
          <%= f.text_field :name, class: :input__form %>
        </div>

        <div class="field">
          <%= f.label :email, "メールアドレス", class: :label__text %><br/>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: :input__form %>
        </div>

        <div class="field">
          <%= f.label :password, "パスワード（6文字以上）", class: :label__text %><br/>
          <%= f.password_field :password, autocomplete: "new-password", class: :input__form %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, "パスワード再入力", class: :label__text %><br/>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: :input__form %>
        </div>

        <div class="field">
          <%= f.label :birthday, "誕生日", class: :label__text %><br/>
          <div class="input_birth_wrap">
            <%= raw sprintf(
                    f.date_select(
                      :birthday,
                      class:"select-birth",
                      id:"birth-date",
                      use_month_numbers: true,
                      prompt:"--",
                      start_year: 1930,
                      end_year: (Time.now.year - 5),
                      date_separator: "%s"),
                    "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
          </div>
        </div>

        <div class="field">
          <%= f.label :favorite_sports, "好きなスポーツ", class: :label__text %><br />
          <%= f.text_field :favorite_sports, class: :input__form %>
        </div>

        <div class="field">
          <%= f.label :prefecture_id, "活動地域", class: :label__text %><br />
          <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"input__form", id:"prefecture"}) %>
        </div>

        <div class="actions">
          <%= f.submit "新規登録", class: :form__btn %>
        </div>
      <% end %>
    </div>
  </div>
</div>