<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JoyNus</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class = "header">
      <div class = "inner">
        <div class = "nav">
          <div class = "nav__top">
            <%= link_to image_tag("logo.png", class: :logo_header), root_path %>
          </div>
          <% if user_signed_in? %>
            <div class = "nav__bottom">
              <%= link_to "MY PAGE", root_path, class: :nav__btn %>
              <%= link_to "LOG OUT", destroy_user_session_path, method: :delete, class: :nav__btn %>
            </div>
          <% else %>
            <div class = "nav__bottom">
              <%= link_to "LOG IN", new_user_session_path, class: :nav__btn %>
              <%= link_to "SIGN UP", new_user_registration_path, class: :nav__btn %>
            </div>
          <% end %>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer class = "footer">
      <div class = "logo_footer">
        <%= link_to image_tag("logo.png", class: :logo), root_path %>
      </div>
    </footer>
  </body>
</html>
